MYSQL_ROOT_PASSWORD=troque_esta_senha_root
MYSQL_DATABASE=ores_db
MYSQL_USER=ores_user
MYSQL_PASSWORD=troque_esta_senha_db

BACKEND_PORT=3001
FRONTEND_PORT=5173

FRONTEND_URL=https://oresong.com
COOKIE_DOMAIN=oresong.com

JWT_ACCESS_SECRET=troque_por_um_hex_64_bytes
JWT_REFRESH_SECRET=troque_por_outro_hex_64_bytes
CSRF_SECRET=troque_por_um_hex_32_bytes
